/* CLASS ACTIVITY */

ul {
    list-style: none;
    background-color: #444;
    text-align: center;
    overflow: hidden;
    margin-bottom: 20px;
    /* width: 25%; */
    /* padding: 5%; */
    /* margin: 50pt; */
}

li {
    float: right;
    font-family: 'Oswald', sans-serif;
    font-size: 1.2em;
    width: 25%;

   
   
    }
 
li a {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #fff;
}
a:hover {
    background-color: rgb(235, 235, 235);
    color: #444;
    cursor: default;
}
a.active {
    background-color: #fff;
    color: #444;
    cursor: default;
}

h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 70px;
    font-weight: bold;
}

img{
    width: 300px;
    border: 4px solid black;
    margin: 20px;
    padding: 10px;
}

img:hover{
    filter: drop-shadow(10px 10px 4px #a5a5a5);

}